body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
    
}
header {
display: flex;
flex-direction: row;
}
.main-article {
display: grid;
align-items: start;
grid-template-columns: 1fr 1fr 1fr;
grid-template-areas: 
'article article article'
'article article article'
'article article article'
'. article .';
align-content: center;
gap: 1.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
        sans-serif;
        
}

 .pokstas {
    width: 500px;
    height: 500px;
 }

img {
    padding: 10px;
    margin-left: calc(50% - 125px);
    height: 250px;
    width: 250px;
    justify-content: center;
}

p {
    font-size: 20px;
    margin-left: 50px;
    padding: 10px;
}

a {
    margin-left: 150px;
    color: black;
    border: 0.2rem solid white;
    padding: 5px 5px;
}

